@page
@model RealEstate.Pages.Admin.Estates.DeleteModel
@{
}
@{
    ViewData["Title"] = "Delete";
}
<div class="row mt-5 mx-5">
    <partial name="_PanelPartial" />
    <div class="col-xl-9 col-12 mb-5">
        <div class="card shadow">
            <div class="card-header d-flex justify-content-center align-items-center">
                <i class="fa fa-trash fa-lg mx-2"></i>
                <h4 class="fw-bold mb-0">Delete</h4>
            </div>
            <div class=" card-body">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="ViewModel.Id" />
                    <input type="hidden" asp-for="ViewModel.Image" />

                    <div class="row my-3">
                        <div class="col-xl-6">
                            <div class="row">
                                <div class="col-6 col-sm-4">
                                    <i class="fa fa-check-circle-o fs-7"></i>
                                    Title :
                                </div>
                                <div class="col-6 col-sm-8">
                                    <input asp-for="ViewModel.Title" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-6 col-sm-4">
                                    <i class="fa fa-check-circle-o fs-7"></i>
                                    Type :
                                </div>
                                <div class="col-6 col-sm-8">
                                    <input asp-for="ViewModel.Category.Title" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-6 col-sm-4">
                                    <i class="fa fa-check-circle-o fs-7"></i>
                                    Price :
                                </div>
                                <div class="col-6 col-sm-8">
                                    <div class="input-group">
                                        <input asp-for="ViewModel.Price" class="form-control" disabled />
                                        <span class="input-group-text">$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-6 col-sm-4">
                                    <i class="fa fa-check-circle-o fs-7"></i>
                                    Metrage :
                                </div>
                                <div class="col-6 col-sm-8">
                                    <div class="input-group">
                                        <input asp-for="ViewModel.Metrage" class="form-control" disabled placeholder="Enter Metrage ..." />
                                        <span class="input-group-text px-2">m<sup>2</sup></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 ">
                            <div class="row">
                                <div class="col-6 col-sm-4 fs-7">
                                    <i class="fa fa-check-circle-o"></i>
                                    Address :
                                </div>
                                <div class="col-6 col-sm-8">
                                    <textarea asp-for="ViewModel.Address" rows="1" class="form-control" disabled></textarea>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-6 col-sm-4">
                                    <i class="fa fa-check-circle-o fs-7"></i>
                                    Description :
                                </div>
                                <div class="col-6 col-sm-8">
                                    @{
                                        if (Model.ViewModel.Description != null)
                                        {
                                            <textarea asp-for="ViewModel.Description" rows="1" class="form-control" disabled></textarea>
                                        }
                                        else
                                        {
                                            <span>none</span>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-6 col-sm-4">
                                    <i class="fa fa-check-circle-o fs-7"></i>
                                    Images :
                                </div>
                                <div class="col-6 col-sm-8">
                                    <img src="/images/Thumb/@Model.ViewModel.Image" class="img-thumbnail my-1 zoom" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-12 m-0">
                        <div class="col-6">
                            <button class="btn btn-outline-danger w-100 mt-3" type="submit">
                                <i class="fa fa-trash mx-2"></i>
                                Delete
                            </button>
                        </div>
                        <div class="col-6">
                            <a asp-page="Index" class="btn btn-outline-secondary w-100 mt-3">
                                <i class="fa fa-times mx-2"></i>
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
