@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="row my-5 ">
    <div class="card shadow mx-auto col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 p-0">
        <div class="card-header d-flex justify-content-center align-items-center">
            <i class="fa fa-user-plus fa-lg mx-2"></i>
            <h4 class="fw-bold mb-0">Register</h4>
        </div>
        <div class="card-body">
            <div class="d-flex">
                <i class="fa fa-warning fa-lg text-danger me-2 p-1"></i>
                <p class="fw-bold fs-7">Please enter your information carefully.</p>
            </div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" aria-required="true" placeholder="Full Name" />
                    <label asp-for="Input.FullName">Full Name</label>
                    <span asp-validation-for="Input.FullName" class="text-danger my-1 fs-7"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phonenumber" aria-required="true" placeholder="09*********" maxlength="11" />
                    <label asp-for="Input.PhoneNumber">Phone Number</label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger my-1 fs-7"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger my-1 fs-7"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger my-1 fs-7"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Email" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger my-1 fs-7"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mb-2">Register</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

















