html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.brand-animation {
    animation: brand-animation 5s 1;
}

@keyframes brand-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.zoom {
    transition: transform 2s;
}

.zoom:hover{
    transform:scale(1.5);
}

.hidden{
    display:none;
}

.fs-7{
    font-size:0.8rem !important;
}