@using RealEstate.Utilities
<div class="col-xl-3 col-12">
    <div class="list-group p-0 mb-5 ">
        @if (User.IsInRole(Roles.Admin))
        {
            <a href="/Admin/Estates" class="btn btn-outline-danger rounded-0 border-bottom-0 text-start rounded-top ">
                <i class="fa fa-home mx-2 "></i>
                Estates Management
            </a>
            <a href="/Admin/UsersManagement" class="btn btn-outline-danger rounded-0 border-bottom-0 text-start ">
                <i class="fa fa-user mx-2 "></i>
                Users Management
            </a>
            <a href="/Admin/Categories" class="btn btn-outline-danger rounded-0 rounded-bottom  text-start ">
                <i class="fa fa-list mx-2 "></i>
                Categories Management
            </a>
           
        }
        @if (User.IsInRole(Roles.User))
        {
            <a href="/Favorites" class="btn btn-outline-danger text-start">
                <i class="fa fa-heart mx-2 "></i>
            Favories Management
        </a>
        }
    </div>
</div>
